{% extends 'dashboard_base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'elq-dashboard/elq-dashboard.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid" id="elq">
        {% include 'app_main/inc/dashboard_content.html' %}
    </div>
{% endblock %}
{% block script %}
    <script>
        function update_page(_url) {
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                            }
                        }
                }
            )
            ;
        }

        let timerId = setInterval(() => update_page("{% url 'main:dashboard' %}"), 10000);
    </script>
{% endblock %}