{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static 'elq-document/elq-document.css' %}">
{% endblock %}
{% block content %}
    <div class="container-fluid doc-styled">
        <div class="row row-hdr">
            <div class="col col-narrow">Заказ</div>
            <div class="col">Статус заказа</div>
            <div class="col col-narrow">Создан</div>
        </div>
        {% for object in object_list %}
            <div class="row" id="{{ object.guid }}">
                <div class="col col-narrow">{{ object.number }}</div>
                <div class="col">{{ object.status_id }}</div>
                <div class="col col-narrow">{{ object.create_time }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
{% endblock %}