{% extends 'base.html' %}
{% block css %}
    <style>
        body {
            height: 100%;
            overflow: hidden;
            background-color: lightgray;
            font-family: 'TT Backwards Script'
        }

        .row .col {
            margin: 1px;
            padding: 0;
        }

        .container {
            margin-bottom: 1px;
        }

        .elq-finished {
            background-color: #d9b9b6;
        }

        .elq-work {
            background-color: gray;
        }

        img {
            margin-bottom: 10px;
            padding: 0;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container-fluid" id="elq">
        {% include 'app_main/inc/content.html' %}
    </div>
{% endblock %}
{% block script %}
    <script>
        function update_page(_url) {
            $.ajax({
                    type: "POST",
                    dataType: 'json',
                    url: _url,
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}'
                    },
                    success:
                        function callback(response) {
                            if (response.result === 1) {
                                document.getElementById(response.object).innerHTML = response.data
                            }
                        }
                }
            )
            ;
        }

        let timerId = setInterval(() => update_page("{% url 'main:index' %}"), 10000);
    </script>
{% endblock %}