{% load static %}
{% load users_tags %}
{% block content %}
    <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark flex-fill">
        <div class="container-fluid">
                <ul class="navbar-nav me-auto mb-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:index' %}"><i class="bi bi-house-heart"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'main:dashboard' %}"><i class="bi bi-receipt"></i> Очередь</a>
                    </li>
                </ul>
            <div class="navbar-collapse" id="navbarNavDropdown" style="min-width: 40px">
                <ul class="navbar-nav me-auto mb-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-journals"></i> Заказы</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="{% url 'main:documents' %}"><i
                                    class="bi bi-journal-text"></i> Список заказов</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <ul class="navbar-nav me-auto mb-auto">
                {% if user.is_active %}
                    <a class="nav-link"><i class="bi bi-person"></i> {% user_login_name user %}<span
                            class="sr-only">(current)</span></a>
                    {% if user.is_superuser %}
                        <a class="nav-link" href="{% url 'admin:index' %}"><i class="bi bi-server"></i>
                            Администрирование<span
                                    class="sr-only">(current)</span></a>
                    {% endif %}
                    <a class="nav-link" href="{% url 'users:logout' %}"><i class="bi bi-door-closed"></i> Выйти<span
                            class="sr-only">(current)</span></a>

                {% else %}
                    <a class="nav-link" href="{% url 'users:login' %}"><i class="bi bi-door-open"></i> Войти<span
                            class="sr-only">(current)</span></a>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}