.row {
    font-min-size: 32pt;
    font-size: 48pt;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 3px;
}

.doc-styled {
    padding: 0;
}

.row-hdr {
    background-color: lightgray;
    margin-bottom: 3px;
}

.col-narrow {
    min-width: 15%;
    max-width: 20%;
    margin-left: 3px;
    margin-right: 3px;

}