.row {
    font-min-size: 32pt;
    font-size: 48pt;
    text-align: center;
    vertical-align: middle;
    padding: 0;
    margin: 3px;
}

.doc-styled {
    padding: 0;
}

.div-centered-text {
    vertical-align: middle;
    text-align: center;
}

.btn-action {
    width: 72px;
    height: 72px;
    min-width: 72px;
    min-height: 72px;
    margin: 0;
    padding: 0;
    font-size: 52px;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
}

.row-hdr {
    background-color: lightgray;
    margin-bottom: 3px;
}

.col-narrow {
    min-width: 15%;
    max-width: 20%;
    margin-left: 3px;
    margin-right: 3px;

}