{% spaceless %}
    <div class="row display-1 col-lg-auto">
        <div class="col">
            <div class="container elq-work">
                <strong>Готовится</strong>
            </div>
            {% for object in object_list %}
                {% if object.status_id.id == 1 %}
                    <div class="container elq-work">
                        {% include 'app_main/inc/dashboard_content_element.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="col">
            <div class="container elq-finished">
                <strong>Готов</strong>
            </div>
            {% for object in object_list %}
                {% if object.status_id.id == 2 %}
                    <div class="container elq-finished">
                        {% include 'app_main/inc/dashboard_content_element.html' %}
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endspaceless %}